<!-- Modal content-->
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Add New Task</h4>
  </div>
  <div class="modal-body">
    <form role="form">
      <div class="form-group">
        <label for="email">Name:</label>
        <input type="text" ng-model="view.newTask.name" placeholder="Enter owner's name" class="form-control" id="description">
      </div>
      <div class="form-group">
        <label for="email">Task Description:</label>
        <input type="text" ng-model="view.newTask.description" placeholder="Enter task Description..." class="form-control" id="description">
      </div>
      <div class="form-group">
        <label for="pwd">Task Date:</label>
        <div class="input-group date" data-provide="datepicker">
          <input type="text" ng-model="view.newTask.date"  class="form-control" placeholder="Select task Date...">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for=actions>Actions:</label><span class="glyphicon glyphicon-plus" style="cursor: pointer;float: right;" ng-click="view.actions.push({})"></span><br>
        <div class="col-lg-6" ng-repeat="action in view.actions">
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" ng-model="action.selected" aria-label="...">
            </span>
            <input type="text" ng-model=action.operation class="form-control" aria-label="...">
          </div><!-- /input-group -->
        </div>
      </div>
      <div class="form-group">
        <label for=actions>Documents:</label><br>
        <div class="list-group" ng-repeat="document in view.newTask.Documents">
          <a href="javascript:" class="list-group-item active">
            {{document.name}}<span class="glyphicon glyphicon-remove" style="cursor: pointer;float:right;" ng-click="view.newTask.Documents.splice($index, 1)"></span>
          </a>
        </div>

        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge"><span class="glyphicon glyphicon-plus" style="cursor: pointer;" ng-click="view.addNewDoc()"></span></span>
            <input type="text" ng-model="view.newDoc" style="width:80%;" placeholder="Enter document name...">
          </li>
        </ul>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-default" ng-disabled="view.newTask.name === null || view.newTask.description === null || view.newTask.date === null" data-dismiss="modal" ng-click="view.saveTask()">Save</button>
  </div>
</div>
